####### Global Parameters #########

log_level=3
xlog_level=3
stderror_enabled=yes
syslog_enabled=no

udp_workers=4

socket=udp:0.0.0.0:5060

####### Modules Section ########

mpath="/usr/lib/x86_64-linux-gnu/opensips/modules/"

#### CORE MODULES ####

loadmodule "signaling.so"
loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "sipmsgops.so"
loadmodule "proto_udp.so"

#### MYSQL ####

loadmodule "db_mysql.so"

#### ACC ####

loadmodule "acc.so"

modparam("acc", "db_url",
"mysql://opensips:opensips@mysql-db/opensips_db")

modparam("acc", "early_media", 0)
modparam("acc", "report_cancels", 1)

#### DIALOG ####

loadmodule "dialog.so"

modparam("dialog", "db_url",
"mysql://opensips:opensips@mysql-db/opensips_db")

#### USRLOC ####

loadmodule "usrloc.so"

modparam("usrloc", "db_url",
"mysql://opensips:opensips@mysql-db/opensips_db")

#### REGISTRAR ####

loadmodule "registrar.so"

####### Routing Logic ########

route {

    xlog("L_INFO", "Recebido pacote SIP: $rm de $si:$sp\n");

    if (!mf_process_maxfwd_header(10)) {
        send_reply(483,"Too Many Hops");
        exit;
    }

    if (is_method("OPTIONS")) {
        send_reply(200, "OK");
        exit;
    }

    if (is_method("REGISTER")) {

        xlog("L_INFO", "REGISTER recebido de $fu\n");

        if (!save("location")) {
            send_reply(500, "Register Error");
        }

        exit;
    }

    if (is_method("INVITE")) {

        xlog("L_INFO", "INVITE recebido de $fu para $tu\n");

        create_dialog();

        do_accounting("db","missed");

        send_reply(200, "OK");

        exit;
    }

    if (is_method("BYE")) {

        xlog("L_INFO", "BYE recebido\n");

        do_accounting("db","missed");

        send_reply(200, "OK");

        exit;
    }

    send_reply(404, "Not Found");
}
